*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: #1a1f26;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #eeeeee;
}
#root {
  position: relative;
  z-index: 0;
}
.background-core-layer {
  position: relative;
  background-color: #202833;
  min-width: 100dvw;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(10, 1fr);
  overflow: hidden;
  gap: 0.1rem;
}

.net {
  height: 5rem;
  width: calc(10dvw - 0.1rem);
  height: calc(10dvh - 0.1rem);
  pointer-events: none;
  background-color: #202833;
  z-index: 2;
}
.light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(127, 255, 212, 0.267) 12%,
    rgba(127, 255, 212, 1) 5%,
    transparent 14%
  );
  z-index: 1;
}

footer {
  position: absolute;
  height: clamp(3rem, 1vw, 5rem);
  width: 100%;
  bottom: -0.1rem;
  box-shadow: 0rem 0rem 2rem 1rem rgba(127, 255, 212, 0.167);
  background-color: #202833;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  text-transform: uppercase;
  font-family: "Protest Revolution", sans-serif;
  color: rgba(127, 255, 212, 0.725);
  z-index: 10;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem 0 2rem 0;
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  text-transform: uppercase;
  margin-bottom: clamp(1rem, 2vw, 10rem);
  font-family: "Protest Revolution", sans-serif;
  color: rgba(127, 255, 212, 0.725);
  background-color: #202833;
  border-bottom: 1px solid #212915;
  box-shadow: 0rem -1rem 2rem 2rem rgba(127, 255, 212, 0.167);
  z-index: 2;
}

.wrapper {
  position: absolute;
  background-color: transparent;
  display: grid;
  pointer-events: auto;
  grid-template-columns: 3fr 1fr;
  pointer-events: none;
  inset: 0;
  z-index: 5;
  overflow: scroll;
}

.Ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
  margin-top: 15rem;
  padding-bottom: 5rem;
  list-style: none;
  display: flex;
  pointer-events: auto;
  justify-content: center;
  gap: 5rem;

  @media (min-width: 768px) {
    margin-top: 13rem;
  }

  @media (min-width: 1440px) {
    margin-top: 15rem;
    flex-direction: row;
  }
}

.front-element {
  position: relative;
  height: 11.25rem;
  width: 20rem;
  background-color: #454b55;
  box-shadow: black 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5rem;

  @media (min-width: 1440px) {
    height: clamp(11.25rem, 25vh, 25rem);
    width: clamp(20rem, 25vw, 35.556rem);
  }
}
.front-element:hover {
  box-shadow: rgba(127, 255, 212, 0.377) 0px 8px 19px;
  background-color: rgba(127, 255, 212, 0.809);
}
.front-element:hover .container {
  border: 2px solid rgba(127, 255, 212, 0.725);
  box-shadow: rgba(127, 255, 212, 0.107) 0px -23px 25px 0px inset,
    rgba(127, 255, 212, 0.15) 0px -36px 30px 0px inset,
    rgba(127, 255, 212, 0.107) 0px -79px 40px 0px inset,
    rgba(127, 255, 212, 0.06) 0px 2px 1px, rgba(127, 255, 212, 0.09) 0px 4px 2px,
    rgba(127, 255, 212, 0.09) 0px 8px 4px,
    rgba(127, 255, 212, 0.09) 0px 16px 8px,
    rgba(127, 255, 212, 0.09) 0px 32px 16px;
}
.front-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0.03rem);
  -webkit-backdrop-filter: blur(0.03rem);
  border-radius: 0.3rem;
  transition: 0.5s;
  z-index: 0;
}
@media (min-width: 1440px) {
  .front-element::before {
    background-color: rgba(179, 224, 247, 0.2039215686);
  }
}

.front-element:hover::before {
  background-color: rgba(179, 224, 247, 0.0431372549);
  backdrop-filter: blur(0);
}

.container {
  transition: 0.3s;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}

.front-element_header {
  position: absolute;
  display: grid;
  place-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  height: 4rem;
  width: 95%;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(39, 81, 67, 0.321);
  backdrop-filter: blur(0.4rem);
  border-radius: 0.3rem;
  backdrop-filter: blur(0.4rem);
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  transition: 0.5s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    height: 2rem;
    width: 90%;
    background-color: #1a1f26;
    top: 50%;
    left: 50%;
    transform: translateY(-46%) translateX(-50%);
    text-align: center;
    text-justify: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.2rem;
    z-index: -10;
  }
}

.hovered {
  background-color: rgba(85, 206, 164, 0.521);
  color: rgb(85, 242, 187);
  text-shadow: 1px 1px 15px rgb(85, 242, 187);
  font-size: 1.1rem;
}

.link {
  position: absolute;
  inset: 0;
}
